<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/calendar.css}">
</th:block>

<body>
    <div layout:fragment="content" id="calendar"></div>
</body>

<th:block layout:fragment="script">
    <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js}"></script>
    <script th:src="@{/js/calendar.js}"></script>
    <script th:inline="javascript">
        !function() {
          var data = JSON.parse([[${data}]]);

          // 데이터의 날짜 필드를 moment 객체로 변환
          data.forEach(function(item) {
            item.date = moment(item.date);
          });

          var calendar = new Calendar('#calendar', data);

        }();
    </script>
</th:block>
</html>