<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content" class="content-wrapper">
        <div class="grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">강좌 목록</h4>
                    <hr>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>강좌코드</th>
                                    <th>강좌명</th>
                                    <th>교수</th>
                                    <th>강의시간</th>
                                    <th>강의실</th>
                                    <th>여석</th>
                                    <th>구분</th>
                                    <th>신청</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:if="${#lists.size(lists)} > 0" th:each="course:${lists}">
                                    <td scope="row" th:text="${course.courseCode}"></td>
                                    <td th:text="${course.courseName}"></td>
                                    <td th:text="${course.professor.name}"></td>
                                    <td th:text="${course.courseDay.get(0)} + ' ' + ${course.startTime} + ' - ' + ${course.endTime}"></td>
                                    <td th:text="${course.classroom}"></td>
                                    <td th:text="${course.restSeat} + '/' + ${course.maxStudent}"></td>
                                    <td th:text="${course.subject.subjectTitle} + ' / ' + ${course.classification}"></td>
                                    <td>
                                        <button class="btn btn-primary solid blank mt-3"
                                                th:majorCode="${course.majorCode}"
                                                th:courseCode="${course.courseCode}"
                                                th:onclick="applyForCourse(this.getAttribute('majorCode'), this.getAttribute('courseCode')); return false;">
                                            신청
                                        </button>
                                    </td>
                                </tr>

                                <!-- 등록된 포스트가 없을 경우 -->
                                <tr th:if="${#lists.size(lists)} == 0">
                                    <td colspan="5">검색결과가 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- 페이징 버튼 -->
                    <div th:if="${#lists.size(lists)} > 0" class="row justify-content-center">
                        <div class="col-lg-10">
                            <nav aria-label="...">
                                <ul class="pagination justify-content-center">
                                    <!-- 태그로 출력시 [(${변수})] 이용 -->
                                    <!-- 텍스트로 출력시 [[${변수}]] 이용 -->
                                    [(${pageIndexList})]
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function applyForCourse(majorCode, courseCode) {
            const result = confirm('이 강좌를 등록하시겠습니까?');
            const url = '/enroll/' + majorCode + '/' + courseCode;

            if (result) {
                $.ajax({
                    url: url,
                    method: 'POST',
                    contentType: "application/json",
                    dataType: "json",
                    success: function(response) {
                        alert(response); // 서버에서 반환된 메시지를 알림창으로 표시
                        location.href = '/list';
                    },
                    error: function(jqXHR, status, error) {
                        console.error("status: " + status + ", error: " + error);

                        if (jqXHR.status == 401) { // UNAUTHORIZED (권한 없음)
                            location.href = '/login'; // 로그인 페이지로 이동
                        } else {
                            alert(jqXHR.responseText); // 기타 오류인 경우 오류 메시지 표시
                            location.href = '/list';
                        }
                    }
                });
            }
        }
    </script>
</th:block>

</html>