<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content" class="content-wrapper">
    <div class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">강좌 목록</h4>
                <hr>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>강좌명</th>
                            <th>교수</th>
                            <th>강의시간</th>
                            <th>강의실</th>
                            <th>구분</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:if="${#lists.size(lists)} > 0" th:each="course:${lists}">
                            <td th:text="${course.courseName}"></td>
                            <td th:text="${course.professor.name}"></td>
                            <td th:text="${course.courseDayStr.get(1)}"></td>
                            <td th:text="${course.classroom}"></td>

                            <td th:if="${course.classification == '전공' && member.subject.subjectTitle == course.subject.subjectTitle}">본전공</td>
                            <td th:if="${course.classification == '전공' && member.subject.subjectTitle != course.subject.subjectTitle}">타전공</td>
                            <td th:unless="${course.classification == '전공'}">교양</td>

                            <td>
                                <button class="btn solid blank mt-3"
                                        th:style="'background-color: ' + ${session.symbolColor} + '; border-color: '+ ${session.symbolColor} + '; color: white;'"
                                        th:courseCode="${course.courseCode}"
                                        th:onclick="deleteCourse(this.getAttribute('courseCode')); return false;">
                                    삭제
                                </button>
                            </td>
                        </tr>

                        <!-- 등록된 포스트가 없을 경우 -->
                        <tr th:if="${#lists.size(lists)} == 0">
                            <td colspan="5">검색결과가 없습니다.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- 페이징 버튼 -->
                <div th:if="${#lists.size(lists)} > 0" class="row justify-content-center">
                    <div class="col-lg-10">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-center">
                                <!-- 태그로 출력시 [(${변수})] 이용 -->
                                <!-- 텍스트로 출력시 [[${변수}]] 이용 -->
                                [(${pageIndexList})]
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function deleteCourse(courseCode) {
            const result = confirm('이 강좌를 삭제하시겠습니까?');
            const url = '/delete/' + courseCode;

            if (result) {
                $.ajax({
                    url: url,
                    method: 'DELETE',
                    contentType: 'application/json',
                    success: function(response) {
                        alert(response);
                        location.href = '/';
                    },
                    error: function(jqXHR, status, error) {
                        console.error('status: ' + status + ', error: ' + error);

                        if (jqXHR.status == 401) { // UNAUTHORIZED
                            location.href = '/login'; // 로그인 페이지로 이동
                        } else {
                            alert(jqXHR.responseText);
                        }
                    }
                });
            }
        }
    </script>
</th:block>

</html>
