<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <title>MyBlog</title>
    <link rel="stylesheet" th:href="@{assets/css/style.css}">
</head>

<body>
<div layout:fragment="content" class="content"></div>

<script th:src="@{assets/js/util.js}"></script>
<script th:src="@{assets/js/main.js}"></script>
<!-- 각 페이지의 JS가 작성될 위치 지정 -->
<th:block layout:fragment="script"></th:block>

</body>
</html>